.DS_STORE
.idea/

SpatialOS/.improbable
SpatialOS/logs
SpatialOS/schema/bin
SpatialOS/schema/improbable
SpatialOS/lib
SpatialOS/tools

client/bin/
client/lib/
client/src/obj/
client/src/improbable/generated

SnapshotGenerator/bin/
SnapshotGenerator/lib/
SnapshotGenerator/src/obj/
SnapshotGenerator/src/improbable/generated

PlanetWorker/bin/
PlanetWorker/lib/
PlanetWorker/src/obj/
PlanetWorker/src/improbable/generated

PlatformSDK/**/bin
PlatformSDK/**/obj
